@model CajeroAutomatico.Entities.DispensadorEfectivo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DispensadorEfectivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ATM.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATM.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDispensadorefectivo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
