@model IEnumerable<CajeroAutomatico.Entities.Cuenta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BaseDatos.Administrador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.saldo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BaseDatos.Administrador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saldo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCuenta }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCuenta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCuenta })
        </td>
    </tr>
}

</table>
